#photo {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    justify-content: center;
}

#welcome {
    justify-content: center;
}

#intro {
    justify-content: center;
    float: right;
}