/* body {
  margin: 0;
  font-family: 'Zen Antique Soft', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: dodgerblue;
  float: right;
}

code {
  font-family: 'Zen Antique Soft', serif;
} */
